<div  class="addon-page-container">
    <div header-start-content>
        <div class="header-uom">
            <h3> UOM</h3>
            <pep-button
                value = "install"
                styleType="strong"
                styleStateType="system"
                sizeType="lg"
                classNames=""
                [disabled]="false"
                iconPosition="end"
                [visible]="true"
                (buttonClick)="onInstall($event)"
        ></pep-button>
    </div>
    <hr>
</div>    
<div id="mainContent" class="main-content">
    <div class="content" style="margin-top: 20px;">
        <p class="body-md">
            This module add support in multiple UOMs per item
            <br>
            As part of the installation, the following will take place:
        </p>
        <ul>
            <li>
                The Units Quantity field will be read only and will contain the total in singles.
            </li>
            <li>
                Two new drop down fields and two new Units Quantity fields (with the AQQM prefix) will be added to the 
                <br>
                transaction to allow the user select the required UOM and define the quantity.
            </li>
        </ul>
        <p class="body-md">
            This module add support in multiple UOMs per item
            <br>
            As part of the installation, the following will take place:
            Place these fields in the relevant order center and cart views.
            <br>
            Note: You can use both sets (to allow the user order in two UOMs) or only the first one (to allow the user order in one UOM)."
        </p>    
    </div>
</div>
