.wrapper {
    text-align: center;
}

// .button {
//     display: block;
//     position: absolute;
//     top: 50%;
// }

.left
{
	float:left;
	width:50%;
	box-sizing:border-box;
    position: relative;
	padding:5px;
	border:#CCC solid 1px;
	min-height:200px;
}