<!-- <div>Component works</div> -->
<div  class="addon-page-container">
    <pep-top-bar [title]="'Uom_Config_Title' | translate" [inline] ="true" >
        <div header-start-content>
            
        </div>
        <div header-end-content>
            <pep-button [value]="'Uom_AtdConfig_Save' | translate" [sizeType]="'md'" [styleType]="'strong'"
            [classNames]="'pep-spacing-element '" [disabled]='Configuration == undefined || isUomFieldValid == false' (click)="SaveConfig()"></pep-button>                    
        </div>
    </pep-top-bar>
    <div id="mainContent" class="main-content">
        <div class="content" style="margin-top: 20px;">
            <p class="body-md">
                {{ "Uom_AtdConfig_Paragraph" | translate }}
            </p>
            <p class="body-md">
                {{ "Uom_AtdConfig_Instructions" | translate }}
            </p>
            <!-- <div>
                <pep-select #pepSelect [value]="AtdID"
                    [options]="TransactionTypes" [label]="'Uom_AtdConfig_AtdIdTitle' | translate"
                    (valueChange)="onValueChanged('AtdId', $event)"></pep-select>
            </div> -->
            <!-- <div *ngIf="Configuration"> -->
            <div>
                <div>
                    <pep-select #pepSelect [value]="Configuration?.UOMFieldID"
                        [options]="TSAStringfields" [label]="'Uom_AtdConfig_AllowedUomsTitle' | translate"
                        (valueChange)="onValueChanged('AllowedUoms', $event)" [mandatory]='true'></pep-select>
                </div>
                <div>
                    <pep-select #pepSelect [value]="Configuration?.InventoryFieldID"
                        [options]="TSANumberfields" [label]="'Uom_AtdConfig_InventoryTitle' | translate"
                        (valueChange)="onValueChanged('Inventory', $event)"></pep-select>
                </div>
                <div>
                    <pep-select #pepSelect [value]="Configuration?.ItemConfigFieldID"
                    [options]="TSAStringfields" [label]="'Uom_AtdConfig_ItemConfigTitle' | translate"
                    (valueChange)="onValueChanged('ItemConfig', $event)"></pep-select>
                </div>
                <div>
                    <pep-select #pepSelect [value]="Configuration?.InventoryType"
                        [options]="Actions" [disabled]="Configuration?.InventoryFieldID == ''" [emptyOption]='false' [label]="'Uom_AtdConfig_InventoryActionTitle' | translate" 
                        (valueChange)="onValueChanged('InventoryAction', $event)"></pep-select>
                </div>
                <div>
                    <pep-select #pepSelect [value]="Configuration?.CaseQuantityType"
                        [options]="Actions" [disabled]="Configuration?.ItemConfigFieldID == ''" [emptyOption]='false' [label]="'Uom_AtdConfig_CaseActionTitle' | translate" 
                        (valueChange)="onValueChanged('CaseAction', $event)"></pep-select>
                </div>
                <div>
                    <pep-select #pepSelect [value]="Configuration?.MinQuantityType"
                        [options]="Actions" [disabled]="Configuration?.ItemConfigFieldID == ''" [emptyOption]='false' [label]="'Uom_AtdConfig_MinActionTitle' | translate" 
                        (valueChange)="onValueChanged('MinAction', $event)"></pep-select>
                </div>
                <!-- <div class="mat-dialog-actions pep-spacing-element-negative">
                    <pep-button [value]="'Uom_AtdConfig_Cancel' | translate" [sizeType]="'md'" [styleType]="'weak'"
                        [classNames]="'pep-spacing-element '" (click)="Cancel()"></pep-button>
                    <pep-button [value]="'Uom_AtdConfig_Save' | translate" [sizeType]="'md'" [styleType]="'strong'"
                        [classNames]="'pep-spacing-element '" (click)="SaveConfig()"></pep-button>
                </div> -->
            </div>
        </div>
    </div>
</div>