<div class="addon-page-container">
<!-- if TUOM is not install on this transaction he will move to the installation component -->
<div *ngIf="!isInstalled && alreadyChecked;">
    <addon-installation [hostObj] = "hostObject" [pluginService] = "pluginService" (installEvent)="onInstallation($event)" [configID] = "this.configID" [atdID]="this.atdID"></addon-installation>
</div>



<div class="container"> 
        <div *ngIf="isInstalled">
            <div class="wrap"> 
                <div class="header">
                    <h1>UOM</h1>
                    <!-- save buttom -->
                    <pep-button class="pep-button"  [value]="'Uom_AtdConfig_Save' | translate" [sizeType]="'md'" [styleType]="'strong'"
                    [classNames]="'pep-spacing-element '"  (click)="SaveConfig()"></pep-button>   
                    <!-- menu of uninstall -->
                    <pep-menu class = "pep-menu"
                    [text]="text"
                    iconName="system_menu"
                    type="action"
                    styleType="weak"
                    sizeType="md"
                    classNames=""
                    [items]="items"
                    [selectedItem]="selectedItem"
                    [disabled]="false"
                    (menuItemClick)="onMenuItemClicked($event)"
                    (menuClick)="onMenuClicked($event)"
                    ></pep-menu>
                </div>
            </div>
            <br>
            <br>
            <div id="mainContent" class="main-content">
                <!-- section 1 -->
                <h4><b>Configuration Field</b></h4>
                <hr>
                <p class="body-md">
                    Select the fields wich contains the item's UOM information. The fields can be an item level fields or a UDT/Calculated transaction line fields, with the folowing content for exmaple:
                </p>
                <ul>
                    <li>
                        Allowed UOMs field = "["EA","CS","BO"]"
                    </li>
                    <li>
                        UOM Configuration field = "[&#123;"UOMkey": "CS", "Factor": 6, "Min": 4, "Case": 1, "Decimal": 2, "Negative": false&#125;, &#123;"UOMKey": "EA", "Case": 6 &#125;]"
                    </li>
                </ul>
                <br>
                <pep-select class="halfscreen" #pepSelect [value]="Configuration?.UOMFieldID"
                    [options]="TSAStringfields" [label]="'Uom_AtdConfig_AllowedUomsTitle' | translate"
                    (valueChange)="onValueChanged('AllowedUoms', $event)" [mandatory]='true'>
                </pep-select>
                <pep-select class="halfscreen" #pepSelect [value]="Configuration?.ItemConfigFieldID"
                    [options]="TSAStringfields" [label]="'Uom_AtdConfig_ItemConfigTitle' | translate"
                    (valueChange)="onValueChanged('ItemConfig', $event)">
                </pep-select>
                <br>
                <!-- section 2 -->
                <h4> <b>Data Fields </b></h4>
                <hr>

                <p class="body-md">
                    Select the fields which contain the item's data.
                </p>

                <pep-select class = "halfscreen" #pepSelect [value]="Configuration?.InventoryFieldID"
                    [options]="TSANumberfields" [label]="'Uom_AtdConfig_InventoryTitle' | translate"
                    (valueChange)="onValueChanged('Inventory', $event)">
                </pep-select>
                <br>    
                <!-- section 3 -->
                <h4> <b>Units Quantity Behavior </b></h4> 
                <hr>

                <p class="body-md">
                    Define the behavior of the Units Quantity Field when it is set with an out of bounds value
                </p>

                <pep-select class = "halfscreen" #pepSelect [value]="Configuration?.InventoryType"
                    [options]="Actions" [disabled]="Configuration?.InventoryFieldID == ''" [emptyOption]='false' [label]="'Uom_AtdConfig_InventoryActionTitle' | translate" 
                    (valueChange)="onValueChanged('InventoryAction', $event)">
                </pep-select>

                <pep-select class="halfscreen" #pepSelect [value]="Configuration?.CaseQuantityType"
                    [options]="Actions" [disabled]="Configuration?.ItemConfigFieldID == ''" [emptyOption]='false' [label]="'Uom_AtdConfig_CaseActionTitle' | translate" 
                    (valueChange)="onValueChanged('CaseAction', $event)">
                </pep-select>
                
                <pep-select class="halfscreen" #pepSelect [value]="Configuration?.MinQuantityType"
                    [options]="Actions" [disabled]="Configuration?.ItemConfigFieldID == ''" [emptyOption]='false' [label]="'Uom_AtdConfig_MinActionTitle' | translate" 
                    (valueChange)="onValueChanged('MinAction', $event)">
                </pep-select>
                <br>
                
            </div>
        </div>
    </div>
</div>